@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    font-family: 'Dancing Script', cursive;
    text-align:center;
    background:rgb(235,90,169)
}
.capa{
    width:100%
}
ul{
    display:inline-block;
    width: 40%;
}
.imagem-beneficio {
    width: 30%;
}
